<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">

		<div class="summaryChartWrap" th:if="${dataMap != null}">

			<div class="chartWrap">

				<div class="barWrap">
					<a href="/board/taskCurrent" class="teamTotal">» 진행중인 프로젝트: [[${dataMap.teamTotal}]]팀</a>
					<div class="barList">
						<div class="barTitle">• 총 태스크 수 상위 3팀</div>
						<canvas id="barChart1" style="height: 30vh; width: 10vw"></canvas>
					</div>
					<div class="barList">
						<div class="barTitle">• 완료 태스크 수 상위 3팀</div>
						<canvas id="barChart2" style="height: 30vh; width: 10vw"></canvas>
					</div>
					<div class="barList">
						<div class="barTitle">• 진행중인 태스크 수 상위 4팀</div>
						<canvas id="barChart3" style="height: 30vh; width: 10vw"></canvas>
					</div>

				</div>

				<div class="doughnutWrap">
					<div class="doughnutTitle">• 진행중인 프로젝트 태스크 전체 현황</div>
					<canvas id="doughnutChart" style="height: 40vh; width: 20vw"></canvas>
				</div>

			</div>

		</div>
		
		<div class="summaryNoticeWrap">
		
			<div class="noticeWrap">
			
				<a href="../notice/noticeList" class="noticeTitle">
					⚹ 공지사항 관리
				</a>
				
				<table>
					<thead>
						<tr>
							<th style="width: 8%;">번호</th>
							<th style="width: 8%;"></th>
							<th style="width: 34%;">제목</th>
							<th style="width: 20%;">작성자</th>
							<th style="width: 30%;">등록일시</th>
						</tr>
					</thead>
					<tbody>
						<tr class="noticeRow" th:each="vo, status : ${dataMap.noticeList}">
							<input type="hidden" th:value="${vo.noticeNo}" />
							<td>[[${status.count}]]</td>
							<td><span th:if="${vo.noticeLevel == 'a'}">📢</span></td>
							<td style="text-align: left;">[[${vo.noticeTitle}]]</td>
							<td>[[${vo.userEmail}]]</td>
							<td>[[${#dates.format(vo.noticeRegdate, 'yyyy-MM-dd')}]]</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			
		</div>
		
		<!-- 공지사항 디테일 모달 -->
		<div class="noticeModal">
			<div class="noticeModalBody">
				<div class='noticeModalTitle'></div>

				<div class="contentWrap">

					<div class="infoBox">
						<div class="writer"></div>
						<div class="regdate"></div>
					</div>

					<div class="imgBox">
						<!-- 이미지 영역 -->
					</div>

					<div class="contentBox">
						<!-- 내용 영역 -->
					</div>

				</div>

			</div>
		</div>

	</div>

</th:block>

<link rel="stylesheet" href="../css/boardSummary.css">

<script th:inline="javascript">

if(JSON.parse('[[${dataMap}]]') != null){
	// 넘어온 데이터 받기
	var dataMap = JSON.parse('[[${dataMap}]]');
	
	// 1. 태스크 수 상위 3팀 차트
	const ctx1 = document.getElementById('barChart1');
	const barChart1 = new Chart(ctx1, {
	    type: 'bar',
	    data: {
	        labels: dataMap.taskCountChart.map(item => item.teamName),
	        datasets: [{
	            data: dataMap.taskCountChart.map(item => item.total),
	            backgroundColor: [
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	            ],
	            borderColor: [
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	    	responsive: false,
	        scales: {
	            y: {
	                beginAtZero: true
	            }
	        },
	        plugins:{
	            legend: {
	                display: false
	            },
	        }
	    }
	});
	
	// 2. 완료 태스크 수 상위 3팀 차트
	const ctx2 = document.getElementById('barChart2');
	const barChart2 = new Chart(ctx2, {
	    type: 'bar',
	    data: {
	    	labels: dataMap.completeTaskChart.map(item => item.teamName),
	   	    datasets: [{
	    	    data: dataMap.completeTaskChart.map(item => item.complete),
	            backgroundColor: [
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	            ],
	            borderColor: [
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	    	responsive: false,
	        scales: {
	            y: {
	                beginAtZero: true
	            }
	        },
	        plugins:{
	            legend: {
	                display: false
	            },
	        }
	    }
	});
	
	// 3. 진행중 태스크 수 상위 3팀
	const ctx3 = document.getElementById('barChart3');
	const barChart3 = new Chart(ctx3, {
	    type: 'bar',
	    data: {
	        labels: dataMap.progressingTaskChart.map(item => item.teamName),
	        datasets: [{
	            data: dataMap.progressingTaskChart.map(item => item.progressing),
	            backgroundColor: [
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	    	responsive: false,
	        scales: {
	            y: {
	                beginAtZero: true
	            }
	        },
	        plugins:{
	            legend: {
	                display: false
	            },
	        }
	    }
	});
	
	// 4. 진행중 프로젝트 전체 현황(도넛차트)
	var doing = 0;
	var todo = 0;
	var done = 0;
	
	dataMap.totalTaskProgress.forEach(n => {
		if(n == 1) doing++;
		else if(n == 2) todo++;
		else done++;
	})
	var total = doing + todo + done;
	
	
	const ctx4 = document.getElementById('doughnutChart');
	const doughnutChart = new Chart(ctx4, {
		  type: 'doughnut',
		    data: {
		      labels: ['완료', '진행예정', '진행중'],
		      datasets: [{
		        data: [Math.floor((done/total)*100), Math.floor((todo/total)*100), Math.floor((doing/total)*100)],     
		        backgroundColor: [
		        	'rgba(157, 206, 255, 0.8)',
			        'rgba(206, 226, 197, 0.8)',
			        'rgba(251, 197, 197, 0.8)',
		        ],
		        borderWidth: 1,
		        scaleBeginAtZero: true,
		      }
		    ]
		  },
		  options: {
		    	responsive: false,
		    	plugins:{
			        legend: {
			        	display: true,
			        	align: 'end',
			        	reverse: true,
			        	labels: {
			        		padding: 5,
			        		boxWidth: 20,
			        	}
			        },
		        }    
		    }
		});

}

// 공지사항 모달
// 디테일 모달 세팅
$(".noticeRow").click((e) => {
	
	var key = $(e.target).closest('tr').find('input').val();
	
	$.ajax({
		url: "../noticeDetail/"+key,
		type: "get",
		success: (res) => {
			
			console.log(res);
			var date = new Date(res.noticeRegdate);
			
			// 텍스트
			$('.noticeModalTitle').html("◉ " + res.noticeTitle);
			$('.writer').html("작성자: " + res.userEmail);
			$('.regdate').html("등록일시: " + date.getFullYear()+"-"+
										   (date.getMonth()+1)+"-"+
										    date.getDate()+" "+
										    date.getHours()+":"+
										   (date.getMinutes().length == 1 ? "0"+date.getMinutes() : date.getMinutes()));
			$('.contentBox').html(res.noticeContent);
			
			// 이미지
			if(res.fileList != undefined){
				res.fileList.forEach(src => {
					$('.imgBox').append('<img alt="img" src="'+ src +'" style="margin-bottom: 7px;">');
				})
			}
			
			// 키값 숨기기
			document.querySelector("input[name=noticeNo]").value = res.noticeNo;
			
		},
		error: (err) => {
			console.log("에러");
		}
	})
	
	// 데이터 삽입 후 모달 켜기
	$('.noticeModal').css({'display':'block'});
	
});

//디테일 모달 끄기
$('.noticeModal').click(() => {
	
	// 모달에 그려진 데이터 지우기
	$('.imgBox').html('');
	$('.noticeModal').css({'display':'none'});
	
});

</script>