<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">
		
		<div class="currentWrap">
		
			<div class="currentList">
			
				<div class="currentTitle">
					• 팀별 태스크 현황
				</div>
				
				<div class="listWrap">
					
					
					<div class="currentCard" th:each="vo, status : ${list}">
						<div class="cardText">
							<div class="cardTextDetail">
								<p style="font-size: 14px; font-weight: 600; padding-bottom: 3px; border-bottom: 1px #a39485 solid;">팀명</p>
								<p style="font-size: 12px; padding-top: 5px;">[[${vo.teamName}]]</p>
							</div>
							<div class="cardTextDetail">
								<p style="font-size: 14px; font-weight: 600; padding-bottom: 3px; border-bottom: 1px #a39485 solid;">총 태스크 수</p>
								<p style="font-size: 12px; padding-top: 5px;">[[${vo.taskCount}]]건</p>
							</div>
							<div class="cardTextDetail">
								<p style="font-size: 13px; font-weight: 600; padding-bottom: 3px; border-bottom: 1px #a39485 solid;">프로젝트 종료까지 남은 기간</p>
								<p style="font-size: 12px; padding-top: 5px;">[[${vo.remain}]]일</p>
							</div>
							<div class="cardTextDetail">
								<p style="font-size: 14px; font-weight: 600; padding-bottom: 3px; border-bottom: 1px #a39485 solid;">팀 인원</p>
								<p style="font-size: 12px; padding-top: 5px;">[[${vo.teamCount}]]명</p>
							</div>
						</div>
						<div class="cardChart">
							<div class="cardChartTitle">
								• 태스크 현황
							</div> 
							
						</div>
					</div>
					
					
					
					
				</div>
				
			</div>
		
		</div>

	</div>

</th:block>

<link rel="stylesheet" href="../css/taskCurrent.css">

<script th:inline="javascript">

var chartList = JSON.parse('[[${list}]]');
var cardList = document.querySelectorAll('.cardChart');

chartList.forEach((chart, idx) => {
	
	// 1. canvas 태그 세팅
	var tag = document.createElement('canvas');
	tag.id = 'doughnutChart'+idx;
	tag.style.height = '200px';
	tag.style.width = '200px';
	tag.style.marginTop = '20px';
	
	// 2. chart 영역에 추가
	cardList[idx].appendChild(tag);
	
	// 3. 추가 후에 chart데이터 세팅
	var total = chart.taskCount;
	var progress = chart.progress == 0 ? 0 : (chart.progress/total)*100;
	var unprogress = chart.unprogress == 0 ? 0: (chart.unprogress/total)*100
	var complete = chart.complete == 0 ? 0: (chart.complete/total)*100;
	
	var ctx = document.getElementById('doughnutChart'+idx);
	var doughnutChart = new Chart(ctx, {
		  type: 'doughnut',
		    data: {
		      labels: ['완료', '진행예정', '진행중'],
		      datasets: [{
		        data: [complete, unprogress, progress],     
		        backgroundColor: [
		          'rgba(157, 206, 255, 0.8)',
		          'rgba(206, 226, 197, 0.8)',
		          'rgba(251, 197, 197, 0.8)',
		        ],
		        borderWidth: 0.5,
		        scaleBeginAtZero: true,
		      }
		    ]
		  },
		  options: {
		    	responsive: false,
		    	plugins:{
			        legend: {
			        	display: true,
			        	align: 'center',
			        	reverse: true,
			        	labels: {
			        		padding: 3,
			        		boxWidth: 10,
			        	}
			        },
		        }    
		    }
		});
	
}); 

	
</script>



