<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">

		<div class="progressWrap">

			<div class="progressTitle">• 팀별 태스크 진척률 현황</div>


			<!-- 테이블 부분 -->
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>팀명</th>
						<th>진행</th>
						<th>미진행</th>
						<th>완료</th>
						<th>진척률</th>

					</tr>
				</thead>
				<tbody>

					<tr class="progressRow" th:each="vo, status : ${list}">
						<td>[[${status.count}]]</td>
						<td>[[${vo.teamName}]]</td>
						<td>[[${vo.progress}]]</td>
						<td>[[${vo.unprogress}]]</td>
						<td>[[${vo.complete}]]</td>
						<td>[[${vo.complete == 0 ? 0 : (((vo.complete*100)/((vo.progress+vo.unprogress+vo.complete))*100)/100)}]]%</td>
					</tr>

				</tbody>
			</table>

			<div class="progressPagingWrap">
				<div class="progressPaging">12345</div>
			</div>

			<div class="progressModal">
				<div class="progressModalBody">
					<div class="progressModalTitle"> ◉ 태스크 진척률 상세 현황</div>
					
					
					<!-- modal taskDetail 화면 -->
					<div class="progressModalData">
					
						<div class="modalChart">
							<!-- ajax로 차트 추가 -->
						</div>
						
						<div class="modalText">
						
							<div class="completeList">
								<div style="font-size: 16px; font-weight: 600;">■ 완료된 업무</div>
								<div style="font-size: 14px; padding: 10px 0 0 5px">• 완료1</div>
							</div>
							
							<div class="UnprogressList">
								<div style="font-size: 16px; font-weight: 600;">■ 미진행 업무</div>
								<div style="font-size: 14px; padding: 10px 0 0 5px">• 미진행1</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
	
		</div>

		<!-- main-wrapper 끝 -->
	</div>

</th:block>

<link rel="stylesheet" href="../css/taskProgress.css">

<script th:inline="javascript">
	
	/* 디테일 모달 켜기 */
	$('.progressRow').click((e) => {
		
		var teamName = e.target.parentElement.children[1].innerHTML;
		
		$.ajax({
			url: "../taskProgressDetail/"+teamName,
			type: "get",
			success: (res) => {
				
				var rateArr = [];
				var titleArr = [];
				var bgColor = [];
				var bdColor = [];
				
				res.rateList.forEach(task => {
					
					// bar별 수치 적용할 배열 초기화
					var len = task.progressList.length;
					var done = 0;
					task.progressList.forEach(todo => {
						if(todo.status == 2) done++; 
					})
					rateArr.push(Math.floor((done/len)*100));
					
					// labels 배열 초기화
					titleArr.push(task.title);
					
					// bar 색상 배열 초기화
					bgColor.push('rgba(54, 162, 235, 0.2)');
					bdColor.push('rgba(54, 162, 235, 1)');
					
				});
				
				$('.modalChart').html('<canvas id="progressChart" style="height: 50vh; width: 33vw"></canvas>');
				
				/* 진척률 차트 */
				const ctx = document.getElementById('progressChart');
				const progressChart = new Chart(ctx, {
				    type: 'bar',
				    data: {
				        labels: titleArr,
				        datasets: [{
				            data: rateArr,
				            backgroundColor: bgColor,
				            borderColor: bdColor,
				            borderWidth: 1
				        }]
				    },
				    options: {
				    	responsive: false,
				    	indexAxis: 'y',
				    	scales: {
				            x: {
				                suggestedMin: 0,
				                suggestedMax: 100,
				                min: 10,
				            },
				            y: {
				            	max: 5,
				            }
				        },
				        plugins:{
				            legend: {
				                display: false
				            },
				        }
				    }
			 	});
				
			},
			error: (err) => {
				console.log("에러");
			}
			
		}) 
		
		$('.progressModal').css({'display':'block'});
	});
	
	/* 디테일 모달 끄기 */
	$('.progressModal').click(() => {
		$('.progressModal').css({'display':'none'});
	});
	

</script>


