<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">

		<div class="progressWrap">

			<div class="progressTitle">• 팀별 태스크 진척률 현황</div>


			<!-- 테이블 부분 -->
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>팀명</th>
						<th>진행</th>
						<th>미진행</th>
						<th>완료</th>
						<th>진척률</th>

					</tr>
				</thead>
				<tbody>

					<tr class="progressRow" th:each="vo, status : ${list}">
						<td>[[${status.count}]]</td>
						<td>[[${vo.teamName}]]</td>
						<td>[[${vo.progress}]]건</td>
						<td>[[${vo.unprogress}]]건</td>
						<td>[[${vo.complete}]]건</td>
						<td>[[${vo.complete == 0 ? 0 : (((vo.complete*100)/((vo.progress+vo.unprogress+vo.complete))*100)/100)}]]%</td>
					</tr>

				</tbody>
			</table>

			<div class="progressPagingWrap">
				<div class="progressPaging">12345</div>
			</div>

			<div class="progressModal">
				<div class="progressModalBody">
					<div class="progressModalTitle"> ◉ 태스크 상세 현황</div>
					
					
					<!-- modal taskDetail 화면 -->
					<div class="progressModalData">
					
						<div class="modalChart">
							<div class="modalChartTitle" style="font-size: 16px; font-weight: 600;"> ■ 진행중인 태스크별 진척률</div>
							<!-- ajax로 차트 추가 -->
						</div>
						
						<div class="modalText">
						
							<div class="completeList">
								<div class="completeListTitle" style="font-size: 16px; font-weight: 600;">■ 완료된 태스크 목록</div>
							</div>
							
							<div class="UnprogressList">
								<div class="UnprogressListTitle" style="font-size: 16px; font-weight: 600;">■ 미진행 태스크 목록</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
	
		</div>

		<!-- main-wrapper 끝 -->
	</div>

</th:block>

<link rel="stylesheet" href="../css/taskProgress.css">

<script th:inline="javascript">
	
	/* 디테일 모달 켜기 */
	$('.progressRow').click((e) => {
		
		var teamName = e.target.parentElement.children[1].innerHTML;
		
		$.ajax({
			url: "../taskProgressDetail/"+teamName,
			type: "get",
			success: (res) => {
				
				// 진행중 업무 chart
				var rateArr = [];
				var titleArr = [];
				var bgColor = [];
				var bdColor = [];
				
				res.rateList.forEach(task => {
					
					// bar별 수치 적용할 배열 초기화
					var len = task.progressList.length;
					var done = 0;
					task.progressList.forEach(todo => {
						if(todo.status == 2) done++; 
					})
					rateArr.push(Math.floor((done/len)*100));
					
					// labels 배열 초기화
					titleArr.push(task.title);
					
					var color1 = Math.floor(Math.random()*250)+1;
					var color2 = Math.floor(Math.random()*250)+1;
					var color3 = Math.floor(Math.random()*250)+1;
					// bar 색상 배열 초기화
					bgColor.push('rgba(' +color1+ ', ' +color2+ ', ' +color3+ ', 0.2)');
					bdColor.push('rgba(' +color1+ ', ' +color2+ ', ' +color3+ ', 1)');
					
				});
				
				$('.modalChart').append('<canvas id="progressChart" style="height: 50vh; width: 33vw"></canvas>');
				
				/* 진척률 차트 */
				const ctx = document.getElementById('progressChart');
				const progressChart = new Chart(ctx, {
				    type: 'bar',
				    data: {
				        labels: titleArr,
				        datasets: [{
				            data: rateArr,
				            backgroundColor: bgColor,
				            borderColor: bdColor,
				            borderWidth: 1
				        }]
				    },
				    options: {
				    	responsive: false,
				    	indexAxis: 'y',
				    	barThickness: 25,
				    	scales: {
				            x: {
				                suggestedMin: 0,
				                suggestedMax: 100,
				            },
				        },
				        plugins:{
				            legend: {
				                display: false
				            },
				        }
				    }
			 	});
				
				// 미진행, 완료 업무 목록
				res.statusList.forEach(status => {
					if(status.status == 2) {
						$('.completeList').append('<div style="font-size: 14px; padding: 10px 0 0 5px">• '+ status.title +'</div>');
					}else {
						$('.UnprogressList').append('<div style="font-size: 14px; padding: 10px 0 0 5px">• '+ status.title +'</div>');
					}
				});
				
				if($('.completeList').children().size() == 1) $('.completeList').append('<div style="color: #A4A4A4;font-size: 14px; padding: 10px 0 0 5px"> 없음</div>');
				if($('.UnprogressList').children().size() == 1) $('.UnprogressList').append('<div style="color: #A4A4A4;font-size: 14px; padding: 10px 0 0 5px"> 없음</div>');
				
			},
			error: (err) => {
				console.log("에러");
			}
			
		}) 
		
		$('.progressModal').css({'display':'block'});
	});
	
	/* 디테일 모달 끄기 */
	$('.progressModal').click(() => {
		
		$('#progressChart').remove();
		$('.completeListTitle').nextAll().remove();
		$('.UnprogressListTitle').nextAll().remove();
		$('.progressModal').css({'display':'none'});
	});
	

</script>


