<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">
	
	<div class="main-wrapper">
		
		<div class="noticeRegistWrap">
			
				<div class="noticeRegistTitle">• 공지사항 등록</div>
				
				<div class="formWrap">
					<form name="noticeForm" action="noticeForm" method="post" enctype="multipart/form-data">
						
						<div class="inputBox">
							<div class="inputTitle">중요도</div> 
							<input type="checkbox" name="noticeLevel" value="a" style="width: 25px; height: 25px; position: relative; top: 6px;"/>
							<span style="font-weight: 600; color: #0061f7">중요 공지 설정</span>
						</div>
						<br/>
						<div class="inputBox">
							<div class="inputTitle">제목</div> 
							<input type="text" name="noticeTitle" style="width: 80%;" required />
						</div>
						</br>
						<div class="inputBox">
							<div class="inputTitle">작성자</div> 
							<input type="text" name="userEmail" th:value="${session.user_id}" readonly style="width: 80%;" />
						</div>	
						</br>
						<div class="inputBox">
							<div class="inputTitle">내용</div>
							<textarea class="textBox" name="noticeContent" required></textarea> 
						</div>
						</br>
						<div class="inputBox">
							<div class="inputTitle">파일첨부</div> 
							<div class="fileBox">
								<input type="file" name="fileName" style="padding-top: 6px; margin-bottom: 5px;"/>
								<!-- <br/><input type="file" name="fileName" style="padding-top: 6px; margin-bottom: 5px;"/> -->
								<span class="fileBtn">
									<button type="button" class="addFile">+</button>
									<button type="button" class="removeFile">-</button>
								</span>
							</div>
						</div>
						<div class="inputBox" style="margin-top: 20px;">
							<div class="inputBtnBox">
								<input type="submit" value="등록" />
								<input type="button" value="취소" />		
							</div>
						</div>
					
					</form>
				</div>
			
		</div>
		
	</div>

</th:block>

<link rel="stylesheet" href="../css/noticeRegist.css">

<script th:inline="javascript">

// 파일 첨부란 추가
$('.addFile').click((e) => {
	
	var files = $('.fileBox span');
	if(files.length < 5) $('.fileBtn').before('<span><br/><input type="file" name="fileName" style="padding-top: 6px; margin-bottom: 5px;"/></span>');
	else alert('파일 첨부는 5개까지 가능합니다.');
})

// 파일 첨부란 빼기
$('.removeFile').click((e) => {
	
	var files = $('.fileBox span');
	if(files.length > 1) files[files.length-2].remove();
})

</script>

