<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">

		<div class="noticeWrap">

			<div class="noticeTitle">• 공지사항</div>

			<form action="noticeList" name="noticeList" method="get">

				<!-- 검색창 -->
				<div class="searchBox">
					<div class="searchArea">
						<input type="text" name="searchText" required
							placeholder=" 검색어를 입력해주세요." class="searchInput" /> <input
							type="submit" value="검색" class="searchBtn"> <a
							href="noticeRegist" class="noticeRegistBtn">등록</a>
					</div>
				</div>

				<!-- 테이블 부분 -->
				<table>
					<thead>
						<tr>
							<th style="width: 8%;">번호</th>
							<th style="width: 8%;"></th>
							<th style="width: 34%;">제목</th>
							<th style="width: 20%;">작성자</th>
							<th style="width: 30%;">등록일시</th>
						</tr>
					</thead>
					<tbody>

						<tr class="noticeRow" th:each="vo, status : ${list}">
							<input type="hidden" th:value="${vo.noticeNo}" />
							<td>[[${status.count}]]</td>
							<td><span th:if="${vo.noticeLevel == 'a'}">📢</span></td>
							<td style="text-align: left;">[[${vo.noticeTitle}]]</td>
							<td>[[${vo.userEmail}]]</td>
							<td>[[${#dates.format(vo.noticeRegdate, 'yyyy-MM-dd')}]]</td>
						</tr>

					</tbody>
				</table>

				<!-- 페이지네이션 -->
				<div class="noticePagingWrap">
					<div class="noticePaging">
						<div class="pagingBtnWrap">

							<nav>
								<ul class="pagination">

									<li class="page-item"><a class="page-link"
										th:href="@{noticeList(page=1, 
															  amount=${pageVO.amount},
															  searchText=${pageVO.cri.searchText}
															  )}">
											<span aria-hidden="true">&laquo;</span>
									</a></li>

									<li th:each="btn, status : ${pageVO.pageList}"
										th:class="${btn == pageVO.page ? 'page-item active' : 'page-item'}">
										<a class="page-link"
										th:href="@{noticeList(page=${btn}, 
															  amount=${pageVO.amount},
															  searchText=${pageVO.cri.searchText}
													 		  )}">
											[[${btn}]] </a>
									</li>

									<li class="page-item"><a class="page-link"
										th:href="@{noticeList(page=${pageVO.realEnd}, 
															  amount=${pageVO.amount},
															  searchText=${pageVO.cri.searchText}
															  )}">
											<span aria-hidden="true">&raquo;</span>
									</a></li>

								</ul>
							</nav>

						</div>
					</div>
				</div>

			</form>


		</div>

		<div class="noticeModal">
			<div class="noticeModalBody">
				<div class='noticeModalTitle'></div>

				<div class="contentWrap">

					<div class="infoBox">
						<div class="writer"></div>
						<div class="regdate"></div>
					</div>

					<div class="imgBox">
						<!-- 이미지 영역 -->
					</div>

					<div class="contentBox">
						<!-- 내용 영역 -->
					</div>

					<div class="btnBox">
						<form action="deleteForm" method="post">
							<div class="btnBox2">
								<input type="button" class="mndBtn modifyBtn" value="수정">
								<input type="submit" class="mndBtn deleteBtn" value="삭제">
								<input type="hidden" name="noticeNo" value="" />
							</div>
						</form>
					</div>

				</div>

			</div>
		</div>

		<!-- main-wrapper -->
	</div>

</th:block>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/noticeList.css">
<link rel="stylesheet" href="../css/style.min.css">

<script th:inline="javascript">

//타이틀 누르면 기본 페이지로 이동
$(".noticeTitle").click(() => {
	window.location.href = "noticeList";
})

var msg = JSON.parse('[[${msg}]]');
if(msg != null){
	alert(msg);
}

// 디테일 모달 세팅
$(".noticeRow").click((e) => {
	
	var key = $(e.target).closest('tr').find('input').val();
	
	$.ajax({
		url: "../noticeDetail/"+key,
		type: "get",
		success: (res) => {
			
			console.log(res);
			var date = new Date(res.noticeRegdate);
			
			// 텍스트
			$('.noticeModalTitle').html("◉  " + res.noticeTitle);
			$('.writer').html("작성자: " + res.userEmail);
			$('.regdate').html("등록일시: " + date.getFullYear()+"-"+
										   (date.getMonth()+1)+"-"+
										    date.getDate()+" "+
										    date.getHours()+":"+
										   ((""+date.getMinutes()).length === 1 ? "0"+date.getMinutes() : date.getMinutes()));
			$('.contentBox').html(res.noticeContent);
			
			// 이미지
			if(res.fileList != undefined){
				res.fileList.forEach(src => {
					$('.imgBox').append('<img alt="img" src="'+ src +'" style="margin-bottom: 7px;">');
				})
			}
			
			// 키값 숨기기
			document.querySelector("input[name=noticeNo]").value = res.noticeNo;
			
		},
		error: (err) => {
			console.log("에러");
		}
	})
	
	// 데이터 삽입 후 모달 켜기
	$('.noticeModal').css({'display':'block'});
	
});

//디테일 모달 끄기
$('.noticeModal').click(() => {
	
	// 모달에 그려진 데이터 지우기
	$('.imgBox').html('');
	$('.noticeModal').css({'display':'none'});
	
});

// 공지사항 수정 요청
$('.modifyBtn').click((e) => {
	
	location.href = "noticeModify/" + $(e.target).next().next().val();
})


</script>