<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="layout(content)">
	<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weasy</title>
			<!-- Chart library -->
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
			<!-- Icons library -->
			 <script src="../plugins/feather.min.js"></script>
			<!-- Custom scripts -->
			 <script src="../js/script.js"></script>
<!-- Favicon -->
<link rel="shortcut icon" href="../img/svg/logo.svg" type="image/x-icon">
<!-- Custom styles -->
<script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="../css/style.css">
<script src="/js/jquery-1.12.1.min.js"></script>


	</head>

	<body>
		<div class="layer"></div>
		<!-- ! Body -->
		<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
		<div class="page-flex">
			<!-- ! Sidebar -->
			<aside class="sidebar">
				<div class="sidebar-start">
					<div class="sidebar-head">
						<a href="../board/boardSummary" class="logo-wrapper" title="Home"> <span
							class="sr-only">Home</span> <span class="icon logo"
							aria-hidden="true"></span>
							<div class="logo-text">
								<span class="logo-title">Weasy</span> <span
									class="logo-subtitle">Admin</span>
							</div>

						</a>
						<button class="sidebar-toggle transparent-btn" title="Menu"
							type="button">
							<span class="sr-only">Toggle menu</span> <span
								class="icon menu-toggle" aria-hidden="true"></span>
						</button>
					</div>
					<div class="sidebar-body">
						<ul class="sidebar-body-menu">

							<li><a class="show-cat-btn" href="../board/boardSummary"> <span
									class="icon document" aria-hidden="true"></span>대시보드 <span
									class="category__btn transparent-btn" title="Open list">
										<span class="sr-only">Open list</span> <span
										class="icon arrow-down" aria-hidden="true"></span>
								</span>
							</a>
								<ul class="cat-sub-menu">
									<li><a href="../board/boardSummary">대시보드</a></li>
									<li><a href="../board/taskCurrent">팀별 태스크 현황</a></li>
									<li><a href="../board/taskProgress">팀별 태스크 진척률</a></li>
								</ul></li>

							<li><a class="show-cat-btn" href="../notice/noticeList"> <span
									class="icon paper" aria-hidden="true"></span>공지사항 <span
									class="category__btn transparent-btn" title="Open list">
										<span class="sr-only">Open list</span> <span
										class="icon arrow-down" aria-hidden="true"></span>
								</span>
							</a>
								<ul class="cat-sub-menu">
									<li><a href="../notice/noticeList">공지사항 목록</a></li>
									<li><a href="../notice/noticeRegist">공지사항 등록</a></li>
								</ul></li>

						</ul>

						<ul class="sidebar-body-menu">


							<li><a class="show-cat-btn" href="##"> <span
									class="icon category" aria-hidden="true"> </span>팀관리 <span
									class="category__btn transparent-btn" title="Open list">
										<span class="sr-only">Open list</span> <span
										class="icon arrow-down" aria-hidden="true"></span>
								</span>
							</a>
								<ul class="cat-sub-menu">
									<li><a href="../team/teamList">팀 목록</a></li>
									<!-- <li><a href="teamDetail">팀원 관리</a></li> -->
								</ul></li>
							<li><a class="show-cat-btn" href="##"> <span
									class="icon user-3" aria-hidden="true"></span>회원관리 <span
									class="category__btn transparent-btn" title="Open list">
										<span class="sr-only">Open list</span> <span
										class="icon arrow-down" aria-hidden="true"></span>
								</span>
							</a>
								<ul class="cat-sub-menu">
									<li><a href="../user/management">회원가입 요청</a></li>
									<li><a href="../user/userList">회원 목록</a></li>
									<li><a href="../user/admin">관리자 등록</a></li>
								</ul></li>
							<li><a href="../logout"><span class="icon setting"
									aria-hidden="true"></span>로그아웃</a></li>
						</ul>
					</div>
				</div>
				<div class="sidebar-footer">
					<a href="##" class="sidebar-user"> <span
						class="sidebar-user-img"> <picture>
							<source srcset="../img/avatar/avatar-illustrated-01.png"
								type="image/webp">
							<img src="../img/avatar/avatar-illustrated-01.png"
								alt="User name"></picture>
					</span>
						<div class="sidebar-user-info">
							<span class="sidebar-user__title">[[${#strings.setSplit(session.user_id, '@')[0]}]]님</span> <span
								class="sidebar-user__subtitle">Support manager</span>
						</div>
					</a>
				</div>
			</aside>

			<div th:replace="${content}"></div>

	</body>


</th:block>

