<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">
		<div class="container">
		
			<h1>관리자 등록</h1>

			<button class="adminAdd_btn">관리자 추가</button>

			<table class="rwd-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Memo</th>
						<th>Role</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="vo : ${list}">
						<td>[[${vo.userName}]]</td>
						<td>[[${vo.userEmail}]]</td>
						<td>[[${vo.memo}]]</td>
						<td>[[${vo.role}]]</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<!-- 관리지 추가 모달창 -->
	<div class="adminModal">
		<div class="adminModal_body">
			<div class="userList_request">관리자 추가</div>
			<br><br>
			<div class="userList_question">비밀번호를 초기화 하시겠습니까?</div>
			<br>
				<input type="hidden" name="userPw" value="">
				<input class="userList_modal_btn_YES" type="submit">
				<button class="userList_modal_btn_NO" type="button">NO</button>
		</div>
	</div>
	
</th:block>

<link th:href="@{/css/adminModal.css}" rel="stylesheet" />	
<link th:href="@{/js/adminModal.js}" rel="stylesheet" />	
	