<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">
	
	<form id="actionForm" action="management" method="get">

		<div class="user_registration">신규 회원 등록 (승인)</div>

		<br>
		<br>
		<br>
		<br>
		<br> 

		<div>
			<span class="name"> 이름 : </span> 
			<input type="text" name="searchName" placeholder="이름검색" class="a" > &nbsp; 
			
			<span class="email"> 이메일 : </span> 
			<input type="text" name="searchEmail" placeholder="이메일검색" >
			
		</div>

		<br>
		<br>

		<table class="user_management" id="usertable">
		
			<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>PhoneNum</th>
				<th>Birth</th>
				<th>Gender</th>
				<th>Check</th>
			</tr>
			</thead>
			
			<tbody>
				<tr th:each="vo : ${list}" th:if="${vo.permission == 'N'}" >
					<td>[[${vo.userName}]]</td>
					<td>[[${vo.userEmail}]]</td>
					<td>[[${vo.phoneNum}]]</td>
					<td>[[${vo.birth}]]</td>
					<td>[[${vo.gender}]]</td>
					<td>
						<input class="management_modal_btn" type="submit" name="permission" >
					</td>
				</tr>
			</tbody>
			<!-- console.log(e.target.parentElement.parentElement.children[1].innerHTML); -->
		</table>
		
	</form>
	</div>
</th:block>

<script>
/* search */
	$('input').keyup(function(){
		//keyup 이벤트 발생 시 해당 input의 value 가져오기.
		var val = $(this).val();
		//실시간 검색이 필요한 table의 모든 행(tr) 숨김 처리
		$("#usertable > tbody > tr").hide();
		//해당 table에서 input에 입력한 데이터가 있는 td Element 찾기.
		var temp = $("#usertable > tbody > tr > td:contains('"+ val +"')");
		//입력한 데이터가 있는 Elemnet의 부모 Elemnet(td)만 표시.
		$("thead").show();
		$(temp).parent().show();
	});
	
</script>

<script th:inline="javascript">
// permission
$(document).ready(function(){
	var permission = $("form[name='actionForm']");
	$(".management_modal_btn").on("click", function(e){
		e.preventDefault();
		console.log(e.target.parentElement.parentElement.children[1].innerHTML);
		permission.submit();				
	});
});
</script>

<!-- 모달창 -->
<!-- 
<div id="basicModal" class="management_modal">

	<div class="management_modal_body">
		<div class="management_request">회원가입 승인요청</div>
		<br><br>
		<div class="management_question">ooo님 회원가입을 승인하시겠습니까?</div>
		<br>
			<button class="management_modal_btn_approve">승인</button>
			<button class="management_modal_btn_refuse">거절</button>
	</div>
</div>
<script src="/js/management_modal.js"></script>
<link th:href="@{/css/management_modal.css}" rel="stylesheet" />
 -->
<link th:href="@{/css/management.css}" rel="stylesheet" />