<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">

		<div class="user_registration">신규 회원 등록 (승인)</div>
		
		<br><br><br><br><br>

		<div>
			<span class="name"> 이름 : </span> 
			<input class="search_name" type="text" placeholder="이름검색">
			&nbsp;

			<span class="email"> 이메일 : </span> 
			<input class="search_email" type="text" placeholder="이메일검색">
			
			<button class="search_btn" type="submit">검색</button>
		</div>

		<br><br>

		<select class="data_amount">
			<option value="10">10개 보기</option>
			<option value="20">20개 보기</option>
			<option value="40">50개 보기</option>
			<option value="80">100개 보기</option>
		</select>
		
		<br><br>

		<table class="user_management">
			<tr>
				<th>NO.</th>
				<th>Name</th>
				<th>Email</th>
				<th>PhoneNum</th>
				<th>Birth</th>
				<th>Gender</th>
				<th>Check</th>
			</tr>
			
			<tr th:each="vo, status : ${list}">
				<td>[[${status.count}]]</td>
				<td>[[${vo.userName}]]</td>
				<td>[[${vo.userEmail}]]</td>
				<td>[[${vo.phoneNum}]]</td>
				<td>[[${vo.birth}]]</td>
				<td>[[${vo.gender}]]</td>
				<td>
					<button class="management_modal_btn">[[${vo.permission}]]</button>
				</td>
			</tr>
		</table>
		
	</div>

</th:block>

<!-- 모달창 -->
<div class="management_modal">

	<div class="management_modal_header">
		<button class="management_modal_btn_close">X</button>
	</div>
	
	<div class="management_modal_body">
		<div class="management_request">회원가입 승인요청</div>
		<br><br>
		<div class="management_question">신지수님 회원가입을 승인하시겠습니까?</div>
		<br>
			<button class="management_modal_btn_approve">승인</button>
			<button class="management_modal_btn_refuse">거절</button>
	</div>
</div>

<script>
      const modal = document.querySelector('.management_modal');
      
      /* 모달창 열기 */
      const btnOpenPopup = document.querySelector('.management_modal_btn');

      btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
      });
      
      /* 모달창 닫기 */
      const closeBtn = modal.querySelector('.management_modal_btn_close');
      closeBtn.addEventListener('click', () => {
        modal.style.display = 'none';
      });
      
      
      
      
</script>

<link th:href="@{/css/management.css}" rel="stylesheet" />
<link th:href="@{/css/management_modal.css}" rel="stylesheet" />
