<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

		<div class="main-wrapper">

		<div class="userList">회원 목록</div>
		
		<br><br><br><br><br>

		<div>
			&nbsp;
			<span class="name"> 이름 : </span> 
			<input class="search_name" type="text" placeholder="이름검색">
			&nbsp;
			<span class="email"> 이메일 : </span> 
			<input class="search_email" type="text" placeholder="이메일검색">

			<button class="search_btn" type="submit">검색</button>
		</div>

		<br><br>

		<select class="data_amount">
			<option value="10">10개 보기</option>
			<option value="20">20개 보기</option>
			<option value="40">50개 보기</option>
			<option value="80">100개 보기</option>
		</select>
		
		<br><br>

		<table class="userList_table">
			<tr>
				<th>NO.</th>
				<th>Name</th>
				<th>Email</th>
				<th>PhoneNum</th>
				<th>Birth</th>
				<th>Gender</th>
				<th>NickName</th>
				<th>LoginLog</th>
				<th>PW Reset</th>
			</tr>
			
			<tr th:each="vo, status : ${list}">
				<td>[[${status.count}]]</td>
				<td>[[${vo.userName}]]</td>
				<td>[[${vo.userEmail}]]</td>
				<td>[[${vo.phoneNum}]]</td>
				<td>[[${vo.birth}]]</td>
				<td>[[${vo.gender}]]</td>
				<td>[[${vo.nickname}]]</td>
				<td>[[${vo.loginDate}]]</td> 
				<td>
					<button class="pwreset_modal_btn" type="submit">RESET</button>
				</td>
			</tr>
		</table>
		
	</div>

</th:block>

<!-- pw Rest 모달창 -->
<div class="userList_modal">

	<div class="userList_modal_body">
		<div class="userList_request">PW RESET</div>
		<br><br>
		<div class="userList_question">비밀번호를 초기화 하시겠습니까?</div>
		<br>
			<button class="userList_modal_btn_YES">YES</button>
			<button class="userList_modal_btn_NO">NO</button>
	</div>
</div>

<script src="/js/userList_modal.js"></script>

<!-- 
<script>
      const modal = document.querySelector('.userList_modal');
      
      /* 모달창 열기 */
      const btnOpenPopup = document.querySelector('.pwreset_modal_btn');

      btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
      });
      
</script>
 -->

<link th:href="@{/css/userList.css}" rel="stylesheet" />
<link th:href="@{/css/userList_modal.css}" rel="stylesheet" />