.id_ok {
	color: #006400;
	display: none;
}

.id_already {
	color: #CD0000;
	display: none;
}

.id_form {
	color: #CD0000;
	display: none;
}

.pw_ok {
	color: #008000;
	display: none;
}

.pw_no {
	color: #CD0000;
	display: none;
}

.pw_form {
	color: #CD0000;
	display: none;
}

.name_form{
	color: #CD0000;
	display: none;
}

.num_form{
	color: #CD0000;
	display: none;
}