@charset "UTF-8";

* {padding: 0; margin: 0; box-sizing: border-box;}
a {text-decoration: none;}

/******************/
/* 검색, 페이징, 등록 */
/******************/

.noticeWrap {
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px #a39485 solid;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	margin-top: 60px;
	color: #595757;
	position: relative;
}

.noticeTitle {
	width: 90%;
	height: 30px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 600;
	cursor: pointer;
}

.noticeRegistBtn {
	border: 1px solid #9DCEFF;
	border-radius: 7px;
	background-color: #9DCEFF;
	padding: 10px 10px;
	font-weight: 600;
	color: white;
}

.noticeTitle:hover {
	color: #0080FF;
}

/****************/
/* 페이지 버튼 부분 */
/****************/
.noticePagingWrap {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.noticePaging {
	width: 30%;
	height: 80px;
	padding: 25px 0 15px 0;
	margin: 0 auto;
	overflow: hidden;
}

.pagingBtnWrap{
	margin: 0 auto;
	width: 50%;
}



/************/
/* 검색창 부분 */
/************/
.searchBox {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
}

.searchArea {
	float: right;
}

.searchBtn {
	cursor: pointer;
	background-color: #9DCEFF;
	color: white;
	font-weight: 600;
	padding: 0 10px;
}

.searchInput:focus {
	border: 1px solid black;
}

/***********/
/* 모달 부분 */
/***********/
.noticeModal {
    display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.noticeModalBody {
	position: fixed;
    top: 44%;
    left: 56%;
    width: 50%;
    height: 70%;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 10;
}

.noticeModalTitle {
	font-size: 18px;
	font-weight: 600;
	border-bottom: 2px #a39485 solid;
	padding-bottom: 15px;
}

.contentWrap {
	padding: 10px 15px;
}

.imgBox {
	width: 50%;
	height: 20%;
	padding-bottom: 20px;
}

.imgBox img {
	width: 100%;
	height: 100%;
}

.infoBox {
	overflow: hidden;
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 20px;
}

.writer {
	float: left;
}

.regdate {
	float: right;
}

.contentBox {
	padding-bottom: 30px;
}

.btnBox {
	width: 100%;
	padding: 30px;
	margin: 0 auto;
}

.btnBox2{
	width: 130px;
	margin: 0 auto;
}

.mndBtn {
	background-color: #9DCEFF;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 12px;
}

/************/
/* 테이블 부분 */
/************/

.noticeRow {
	cursor: pointer;
}

.noticeRow:hover td {
	background-color: rgba(54, 162, 235, 0.1);
}

table {
	border: 1px #9DCEFF solid;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	font-size: .9em;
	width: 90%;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

th {
	text-align: center;
}

thead {
	font-weight: bold;
	color: #fff;
	background: #9DCEFF;
}

td, th {
	padding: 1em .5em;
	vertical-align: middle;
}

td {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: #fff;
}

a {
	color: #73685d;
}

@media all and (max-width: 768px) {
	table, thead, tbody, th, td, tr {
		display: block;
	}
	th {
		text-align: right;
	}
	table {
		position: relative;
		padding-bottom: 0;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	}
	thead {
		float: left;
		white-space: nowrap;
	}
	tbody {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		white-space: nowrap;
	}
	tr {
		display: inline-block;
		vertical-align: top;
	}
	th {
		border-bottom: 1px solid #a39485;
	}
	td {
		border-bottom: 1px solid #e5e5e5;
	}
}

