@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.teamlistWrap {
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px #a39485 solid;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	margin-top: 60px;
	margin-bottom: 60px;
	color: #595757;
	position: relative;
	background-color: white;
	
}

.btn-option{
	display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left:-4px;
    color: #666;
    text-align: center;
    border: 1px solid #cfcfcf;
	background-color:#fff;
}
.search_th{width:100px; float:left; text-align:center;}
.btn-option.on{background-color:#7866c9; color:#fff;}
p > .btn-option:first-child{border-radius: 5px 0px 0px 5px;}
p > .btn-option:last-child{border-radius: 0px 5px 5px 0px;}

#handleAmount {
 position: absolute;
  top: 4%;
  right: 5%;
  width: 95px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

#handleAmount:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.search-container {
  width: 90%;
	height: 30px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 600;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.categoryselect{
  width: 100px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 10px;
}

.search-box input[type="text"] {
	
  font-size: 16px;
  padding: 8px;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  border-radius: 5px;
  width: 250px;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);*/
  margin-bottom: 11px;
}

.btn-search {
  background-color: #15599b;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
 border: 1px solid #15599b;
	border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
      height: 35px;
}

.btn-search:hover {
  background-color: #15599b;
}


 th img{
	max-width : 20px;
	width: 20px;
	position: absolute;
	margin-left: 15px;
    bottom: 13px;
}
.btn_sort{
	 background: #00228c;
}

/* 현재상태 선택창*/
.changeStatus{
  width: 100px;
  height: 33px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 10px;
	
}

/* 페이지네이션*/
 .progressPagingWrap {
	overflow: hidden;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.progressPaging {
	width: 30%;
	height: 80px;
	padding: 25px 0 15px 0;
	margin: 0 auto;
	overflow: hidden;
}

.pagingBtnWrap{
	margin: 0 auto;
   	width: 80%;
}

/* 테이블 */
table {
  border: 1px #00228c solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  font-size: .9em;
  width: 90%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  transition: background-color 0.3s;
}

h2 {
  margin-left: 160px;
}

th {
  text-align: left;
  position: relative;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #00228c;
}

td,
th {
  padding: 1em .5em;
  vertical-align: middle;
  text-align: center;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

td:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s;
}

a {
  color: #73685d;
  text-decoration: none;
}

a:hover {
  color: #9DCEFF;
  text-decoration: underline;
}

@media all and (max-width: 768px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    position: relative;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }

  tr {
    display: inline-block;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid #a39485;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }
}
tbody tr:hover td {
  background-color: #f2f2f2;
  transition: background-color 0.3s;
}
 

