@charset "UTF-8";

.currentWrap {
	width: 100%;
}

.currentList {
  	width: 80%; 
  	height: 400px;
	margin: 0 auto;
	color: #595757;
	border-radius: 10px;
	border: 1px #a39485 solid;
  	box-shadow: 0 2px 5px rgba(0,0,0,.25);
  	margin-top: 40px;
  	overflow: hidden;
}

.currentTitle {
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
}

.listWrap {
	width: 97%;
	height: 710px;
	margin: 0 auto;
	border-top: 2px #a39485 solid;
	border-bottom: 2px #a39485 solid;
	overflow: scroll;
	overflow-x: hidden;
	padding-bottom: 15px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.currentCard {
	width: 1000px;
	height: 290px;
	margin: 15px 0 0 40px;
	border-radius: 10px;
	border: 1px #a39485 solid;
  	box-shadow: 0 2px 5px rgba(0,0,0,.25);
  	overflow: hidden;
  	padding: 3px;
}

.currentCard:hover {
	border: 1px solid rgba(54, 162, 235, 0.8);
	box-shadow: 0 1px 3px rgba(54, 162, 235, 0.8);
}

.cardText {
	float: left;
	width: 50%;
	height: 280px;
	border-right: 1px #a39485 solid;
	padding-top: 8px;
	
}

.cardChart {
	float: right;
	width: 50%;
}

.cardChartTitle {
	width: 200px;
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
}

.cardTextDetail {
	width: 95%;
	height: 55px;
	padding: 8px;
	border-radius: 10px;
	border: 1px #a39485 solid;
  	box-shadow: 0 2px 5px rgba(0,0,0,.25);
  	margin: 8px 0 0 3px;
}


