<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">

		<h2 style="margin-top: 20px; margin-bottom: 20px;"> [[${list[0].teamNo}]]팀 관리창</h2>

		<hr />
		<table>
			<thead>
				<tr>
					<th>이름</th>
					<th>닉네임</th>
					<th>이메일</th>
					<th>생년월일</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="tablebodys">
			 	
				
				<tr class="trbodys" th:each=" vo, status : ${list}">
					<td>[[${vo.userName}]]</td>
					<td>[[${vo.nickname}]]</td>		
					<td class="userEmail">[[${vo.userEmail}]]</td>
					<td>[[${vo.birth}]]</td>
					<td><button type="button" class="btn btn-danger"
							th:value=${vo.userEmail}>삭제</button></td>
					<input class="tnodate" type="hidden" th:value=${vo.teamNo}>
				</tr>
			</tbody>

		</table>

	<div class="modal">
      <div class="modal_body">
      	<h4>초대할 인원</h4>
      		<input type = "text">
      		<div class = "modalbodys"> 
      			<div class ="modaltop">
				</div>
      		</div>
      </div>
    </div>
    <button class="btn-open-popup">Modal 띄우기</button>

    	
</th:block>



<script th:inline="javascript">
$('.modalbodys').on('click','button',function(e){
	
})


$('.tablebodys').on('click','button',function(e){
	if(confirm("정말로 삭제하시겠습니까?")){
		
		var userEmail = e.target.value;
		console.log('첫번재이메일' + userEmail);
		var teamNo = $('.tnodate').eq(0).val();
		
			 $.ajax({
				
				url: "/deleteTeam",
	            type: "post",
	            data: {
	            	 userEmail : userEmail
	            },
	            success: function(result) {
	               alert(result);
	               
	               $.ajax({
	   				
	   				url: "/teamListUpdate",
	   	            type: "post",
	   	            data: {
	   	            	 teamNo : teamNo
	   	            },
	   	            success: function(result) {
	   	            	var str = "";
	   	             for(var i = 0; i<result.length; i++){
	   	            	str += "<tr class = 'trbodys'>";
	   					str +=	 '<td class ="userEmail">' + result[i].userEmail + '</td>';
	   					str +=	 '<td>' + result[i].userName+ '</td>';
	   					str +=	 '<td>' + result[i].birth + '</td>';
	   					str += '<td><button type ="button" class ="btn btn-danger" value ='  + result[i].userEmail + '>삭제</button></td>';
	   					str += ' <input class ="tnodate" type = "hidden" value = ' + result[i].teamNo+'>'
	   					str += "</tr>";
	   	             }
	   	            	
	   					$(".tablebodys").html(str);
	   	            	
	   	            }, error: function(err){
	   	            	console.log("에러");
	   	            }
	   			})  
	               
	            }, error: function(err){
	            	console.log("에러");
	            }
			}) 
	}
	
		})
	
$('.modal').on('keyup','input',function(e){
	
	var searchId = e.target.value;
	console.log(searchId);
	var teamNo = $(".tnodate").val();
	console.log("팀번호" +teamNo);
	if(searchId ==''){
		console.log("이프안에" + searchId);
		$(".userEmail").remove();
		var str = "";
			str += "<tr class = 'trbodys'>";
			str += "</tr>";
			 $(".modalbodys").html(str);
		return;
	} 
	
	$.ajax({
			
			url: "/searchId",
           type: "post",
           data: {
           	 searchId : searchId,
           	 teamNo : teamNo
           },
           success: function(result) {
        	   var str = "";
        	   for(var i = 0; i<result.length; i++){
  	            	str += "<tr class = 'trbodys'>";
  					str +=	 '<td class ="userEmail">' + result[i].userEmail + '</td>';
  					str +=	 '<td>' + result[i].userName+ '</td>';
  					str +=	 '<td>' + result[i].nickName + '</td>';
  					str += '<td><button type ="button" class ="btn btn-success" value ='  + result[i].userEmail + '>초대</button></td>';
  					str += ' <input class ="tnodate" type = "hidden" value = ' + result[i].userEmail +'>'
  					str += "</tr>";
  	             }
        	   $(".modalbodys").html(str);
           
           }, error: function(err){
           	console.log("에러");
           }
	
		}) 
	
});		
		
const modal = document.querySelector('.modal');
const btnOpenPopup = document.querySelector('.btn-open-popup');

btnOpenPopup.addEventListener('click', () => {
  modal.style.display = 'block';
});		


	 
</script>
<link rel="stylesheet" href="../css/teamDetail.css">	