<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<th:block
	th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">
	
	<h2 style="margin-top: 20px;margin-bottom: 20px; " >팀 관리창</h2>
	
		<form name="actionForm" action="teamList" method="get">

			<input type="hidden" name="teamStatus" value="">

			<div class="search-container">
					<div class="search-category">
						<select name="category">
							<option value = "defaultsearch" th:selected=" ${ pageVO.cri.category == 'defaultsearch'}">전체검색</option>
							<option value="teamName" th:selected=" ${ pageVO.cri.category == 'teamName'}">팀명</option>
							<option value="teamGoal" th:selected=" ${ pageVO.cri.category == 'teamGoal'}">팀목표</option>
							<option value="userEmail" th:selected=" ${ pageVO.cri.category == 'userEmail'}">팀생성자</option>
						</select>
					</div>
				<div class="search-box">
					<input type="text" placeholder="검색어를 입력하세요" name="keyword">
					<button class="btn-search" type="submit">검색</button>
				</div>
			</div>

			<table>

				<div>
					<select id="handleAmount">
						<option value='' th:selected=" ${ pageVO.cri.teamStatus == ''}">전체</option>
						<option value="Y" th:selected=" ${ pageVO.cri.teamStatus == 'Y'}">진행중</option>
						<option value="N" th:selected=" ${ pageVO.cri.teamStatus == 'N'}">종료된
							팀</option>
					</select>
				</div>

				<thead>
					<tr>
						<th>NO.</th>
						<th>팀명</th>
						<th>팀목표</th>
						<th>팀인원</th>
						<th>팀 생성일</th>
						<th>팀 생성자</th>
						<th>팀 상태</th>
					</tr>
				</thead>
				<tbody class="tablebodys">
					<tr class="trbodys" th:each=" vo, status : ${list}">
						<td>[[${vo.teamNo}]]</td>
						<td style="color : blue; cursor: pointer;" th:onclick="|location.href='@{teamDetail(teamName=${vo.teamNo})}'|">[[${vo.teamName}]] </td>
						<td>[[${vo.teamGoal}]]</td>
						<td>[[${vo.teamCount}]]</td>
						<td>[[${ #temporals.format(vo.teamRegdate,'yyyy-MM-dd')}]]</td>
						<td>[[${vo.userEmail}]]</td>
						<td>[[${vo.teamStatus== 'Y' ? '진행중' : '종료된 팀' }]]</td>
					</tr>
				</tbody>

			</table>

			<div class="page">
				<ul>
					<!-- <li><a><i class="fa fa-angle-double-left"
							aria-hidden="true"></i></a></li>
					<li style="margin-right: 5px;" th:if=${pageVO.prev}><a><i
							class="fa fa-angle-left" aria-hidden="true"></i></a></li> -->

					<th:block th:each=" page : ${pageVO.pageList}">
						<li th:class="${page == pageVO.page ? 'on' : ''}"><a
							th:href="@{teamList(page=${page}, amount=${pageVO.amount},
							teamStatus = ${pageVO.cri.teamStatus},
							category = ${pageVO.cri.category},
							keyword = ${pageVO.cri.keyword})}
							">[[${page}]]</a></li>
					</th:block>
<!-- 
					<li style="margin-left: 5px;" th:if=${pageVO.next}><a><i
							class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					<li><a
						th:href="@{teamList(page=${pageVO.realEnd}, amount=${pageVO.amount})}"><i
							class="fa fa-angle-double-right" aria-hidden="true"></i></a></li> -->
				</ul>
			</div>

		</form>
</th:block>

<script>
	var handleAmount = document.getElementById("handleAmount");
	handleAmount.onchange = function(e) {
		// hidden input의 값을 변경
		var hiddenInput = document.querySelector("input[name=teamStatus]");
		hiddenInput.value = this.value;

		// form 제출
		var form = document.querySelector("form[name=actionForm]");
		form.submit();
	}
	
	function detail(e){
		console.log(e.target.value);
		location.href = "teamDeatil?page=1&amount="+e.target.value;
	}
	
</script>



<link rel="stylesheet" href="../css/TeamList.css">