<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>

<th:block th:replace="~{./include/layout :: layout(~{:: .main-wrapper})}">

	<div class="main-wrapper">
	
	<h2 style="margin-top: 20px;margin-bottom: 20px;" >팀원 관리창</h2>
	<hr/>
		<table>
				<thead>
					<tr>
						<th>이메일</th>	
						<th>이름</th>
						<th>생년월일</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody class="tablebodys">
					<tr class="trbodys" th:each=" vo, status : ${list}">
						<td class = "userEmail">[[${vo.userEmail}]]</td>
						<td>[[${vo.userName}]]</td>
						<td>[[${vo.birth}]]</td>
						<td><button type ="button" class ="btn_delete" th:value = ${vo.userEmail}>삭제</button></td>
						<input class ="tnodate" type = "hidden" th:value =${vo.teamNo}>
					</tr>
				</tbody>

			</table>
		
		
	</div>
	
</th:block>

<script>



$('.tablebodys').on('click','button',function(e){
	if(confirm("정말로 삭제하시겠습니까?")){
		
		var userEmail = e.target.value;
		console.log('첫번재이메일' + userEmail);
		var teamNo = $('.tnodate').eq(0).val();
		
			 $.ajax({
				
				url: "/deleteTeam",
	            type: "post",
	            data: {
	            	 userEmail : userEmail
	            },
	            success: function(result) {
	               alert(result);
	               
	               $.ajax({
	   				
	   				url: "/teamListUpdate",
	   	            type: "post",
	   	            data: {
	   	            	 teamNo : teamNo
	   	            },
	   	            success: function(result) {
	   	            	var str = "";
	   	             for(var i = 0; i<result.length; i++){
	   	            	str += "<tr class = 'trbodys'>";
	   					str +=	 '<td class ="userEmail">' + result[i].userEmail + '</td>';
	   					str +=	 '<td>' + result[i].userName+ '</td>';
	   					str +=	 '<td>' + result[i].birth + '</td>';
	   					str += '<td><button type ="button" class ="btn_delete" value ='  + result[i].userEmail + '>삭제</button></td>';
	   					str += ' <input class ="tnodate" type = "hidden" value = ' + result[i].teamNo+'>'
	   					str += "</tr>";
	   	             }
	   	            	
	   					$(".tablebodys").html(str);
	   	            	
	   	            }, error: function(err){
	   	            	console.log("에러");
	   	            }
	   			})  
	               
	                
	            }, error: function(err){
	            	console.log("에러");
	            }
			}) 
			
	}
	
		});
		

</script>





<link rel="stylesheet" href="../css/teamDetail.css">



