<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weasy.admin.service.BoardMapper">

	<insert id="taskInsert">
		insert into TASK(teamNo, title, startDate, targetDate) 
		values(#{teamNo}, #{title}, #{startDate}, #{targetDate})
	</insert>

	<insert id="taskDetailInsert">
		insert into TASKDETAIL(boardNo, taskDetail, status) 
		values(#{boardNo}, #{taskDetail}, #{status})
	</insert>	

	<update id="updateStatus">
		
	</update>

</mapper>