<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weasy.admin.service.BoardMapper">
	
	<!-- 테스트 데이터 삽입용 -->
	<insert id="taskInsert">
		insert into TASK(teamNo, title, startDate, targetDate) 
		values(#{teamNo}, #{title}, #{startDate}, #{targetDate})
	</insert>

	<insert id="taskDetailInsert">
		insert into TASKDETAIL(taskNo, taskDetail, status) 
		values(#{taskNo}, #{taskDetail}, #{status})
	</insert>	
	
	<update id="updateStatus">
		update TASK set title = #{title}
		where taskNo = #{taskNo}
	</update>
	
	<select id="setAuthority">
		insert into authority(userEmail, teamNo, role) values(#{userEmail}, #{teamNo}, #{role})
	</select>
	
	
	<!-- taskProgress 화면 게시판 리스트용 -->
	<select id="getTaskProgressList" resultType="TaskProgressVO">
		select teamName,
			   teamNo,
			   (select count(*) from task a where a.teamNo = b.teamNo and a.status = 0) progress,
		       (select count(*) from task a where a.teamNo = b.teamNo and a.status = 1) unprogress,
		       (select count(*) from task a where a.teamNo = b.teamNo and a.status = 2) complete
		from team b
		where b.teamStatus = 'Y'
		<if test="searchTeamName != '' and searchTeamName != null">
			and b.teamName like concat('%', #{searchTeamName}, '%')
		</if>
		limit #{pageStart}, #{amount}
	</select>
	
	<!-- taskProgress 디테일 화면에 미진행, 완료만 -->
	<select id="getTaskProgressDetail" resultType="TaskVO" >
		select title, status  from task a 
		where a.teamNo = (select teamNo from team where teamName = #{teamName} limit 1) 
					      and status in (1, 2)
		
	</select>
	
	<select id="getTaskProgressRate" resultMap="rateMap">
		select taskDetailNo, a.taskNo, taskDetail, status, title from TASKDETAIL a
		inner join (select taskNo, title 
				    from TASK a 
				    where a.teamNo = (select teamNo 
				    				  from TEAM 
				    				  where teamName = #{teamName} and a.status = 1 limit 1)) b
		on a.taskNo = b.taskNo
	</select>
	
	<resultMap type="TaskVO" id="rateMap">
		<result column="taskNo" property="taskNo" />
		<result column="title" property="title" />
		<!-- 속성이 멤버 변수에 있는 리스트명 -->
		<collection property="progressList" resultMap="progressListElement" />
	</resultMap>
	
	<resultMap type="TaskDetailVO" id="progressListElement">
		<result column="taskDetailNo" property="taskDetailNo"/>
		<result column="taskDetail" property="taskDetail"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<!-- taskCurrent 화면 리스트 데이터 -->
	<select id="getTaskCurrentList" resultType="TaskCurrentCardVO">
		select teamNo,
			   teamName, 
		       timestampdiff(day, now(), endDate) remain, 
		       (select count(*) from task b where b.teamNo = a.teamNo) taskCount,
		       (select count(*) from task b where b.teamNo = a.teamNo and status = 0) progress,
		       (select count(*) from task b where b.teamNo = a.teamNo and status = 1) unprogress,
		       (select count(*) from task b where b.teamNo = a.teamNo and status = 2) complete,
		       (select count(*) from authority b where b.teamNo = a.teamNo) teamCount
	   from team a
	   where a.teamStatus = 'Y'
	</select>
	<!-- (SELECT COUNT(a.teamNo) FROM authority a LEFT OUTER JOIN users u ON a.userEmail = u.userEmail WHERE t.teamNo = a.teamNo AND u.permission = 'Y') AS teamCount -->
	
	<!-- BoardSummary 화면 차트 데이터  -->
	<select id="getTaskCountChart" resultType="TaskCountChartVO">
		select a.teamNo teamNo, a.teamName teamName,b.total total
		from team a
		inner join(select teamNo, count(*) total from task
				   group by teamNo
				   order by total desc
				   limit 3) b
			   on a.teamNo = b.teamNo;
	</select>
	
	<select id="getCompleteTaskChart" resultType="CompleteTaskChartVO">
		select a.teamNo teamNo, a.teamName teamName,b.complete complete 
		from team a
		inner join(select teamNo, count(*) complete from task
				   where status = 2
				   group by teamNo
				   order by complete desc
				   limit 3) b
			   on a.teamNo = b.teamNo;
	</select>
	
	<select id="getTeamTotal" resultType="int">
		select count(*) from team where teamStatus = 'Y'
		<if test="searchTeamName != '' and searchTeamName != null">
			and teamName like concat('%', #{searchTeamName}, '%')
		</if>
	</select>
	
	<select id="getProgressingTaskChart" resultType="ProgressingTaskChartVO">
		select a.teamNo teamNo, a.teamName teamName,b.progressing progressing 
		from team a
		inner join(select teamNo, count(*) progressing from task
				   where status = 2
				   group by teamNo
				   order by progressing desc
				   limit 3) b
	   on a.teamNo = b.teamNo;
	</select>
	
	<select id="getTotalTaskProgress" resultType="Integer">
		select status from task a
		inner join (select teamNo from team where teamStatus = 'Y') b
		on a.teamNo = b.teamNo;
	</select>
	
	<select id="getBoardNoticeList" resultType="noticeListVO">
		select noticeNo, noticeTitle, noticeContent, noticeRegdate, noticeLevel, userEmail from noticeList
		order by noticeLevel, noticeRegdate desc
		limit 5;
	</select>
	
	<!-- 로그인 인터셉트용 -->
	<select id="loginCheck" resultType="UserVO">
		select userEmail, role from admins where userEmail = #{id} and userPw = #{pw}	
	</select>

</mapper>