<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.weasy.admin.service.TeamMapper">
 
 
 
 	<select id="getList" resultType="TeamVO">
 		select t.teamNO,t.teamRegdate,t.teamName,t.teamGoal,t.teamGoal,t.userEmail,t.teamStatus, COUNT(a.teamNo) as teamCount
 		from team t
 		LEFT OUTER JOIN authority a ON t.teamNo = a.teamNo
 		<if test = " cri.category == 'teamName'">
 			where teamName like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'teamGoal'">
 			where teamGoal like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'userEmail'">
 			where userEmail like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = "cri.category != 'defaultsearch' and cri.teamStatus != ''">
 			and teamStatus = #{cri.teamStatus}
 		</if>
 		<if test = "cri.category == 'defaultsearch' and cri.teamStatus != ''">
 			where teamStatus = #{cri.teamStatus}
 		</if>
 		 GROUP BY t.teamNO
 		 limit #{cri.pageStart}, #{cri.amount}
 	</select>
 	
 	<select id = "getTotal" resultType="int">
 		select count(*) as total from team
 		<if test = " cri.category == 'teamName'">
 			where teamName like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'teamGoal'">
 			where teamGoal like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'userEmail'">
 			where userEmail like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = "cri.category != 'defaultsearch' and cri.teamStatus != ''">
 			and teamStatus = #{cri.teamStatus}
 		</if>
 		<if test = "cri.category == 'defaultsearch' and cri.teamStatus != ''">
 			where teamStatus = #{cri.teamStatus}
 		</if>
</select>

	  <select id = "getTeamList" resultType="userVO">
	  		select u.userEmail,u.userName,u.birth,u.nickname,a.teamNo from 
	  		authority a left outer join users u
			on a.userEmail = u.userEmail
			where teamNo = #{teamName}
	  </select>
	  
	   <delete id="deleteTeam">
	   		delete from authority
	   		where userEmail = #{userEmail}
	   </delete>
	   
 
 </mapper>