<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.weasy.admin.service.TeamMapper">
 
 	<select id="getList" resultType="TeamVO">
 		select * from team 
 		<if test = " cri.category == 'teamName'">
 			where teamName like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'teamGoal'">
 			where teamGoal like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'userEmail'">
 			where userEmail like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = "cri.category != 'defaultsearch' and cri.teamStatus != ''">
 			and teamStatus = #{cri.teamStatus}
 		</if>
 		<if test = "cri.category == 'defaultsearch' and cri.teamStatus != ''">
 			where teamStatus = #{cri.teamStatus}
 		</if>
 		 limit #{cri.pageStart}, #{cri.amount}
 	</select>
 	
 	<select id = "getTotal" resultType="int">
 		select count(*) as total from team
 		<if test = "cri.teamStatus != '' ">
 			where teamStatus = #{cri.teamStatus}
 		</if>
 		<if test = " cri.category == 'teamName'">
 			where teamName like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'teamGoal'">
 			where teamGoal like concat('%', #{cri.keyword},'%')
 		</if>
 		<if test = " cri.category == 'userEmail'">
 			where userEmail like concat('%', #{cri.keyword},'%')
 		</if>
</select>
 
 
 
 </mapper>