<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.weasy.admin.service.UserMapper">

<!-- management -->
	<select id="managementList" resultType="UserVO">
		select userName, userEmail, phoneNum, birth, gender, permission from users;
	</select>

<!-- userList -->
	<select id="userList" resultType="UserVO">
		select a.userEmail
		,a.userName
	    ,a.phoneNum
	    ,a.birth
	    ,a.gender
	    ,a.nickname
	    ,b.loginDate
	    ,a.userPw
		from users as a
		inner join loginlog as b
		on a.userEmail=b.userEmail
	</select>
	
<!-- Pw Reset -->
	<update id="pwReset">
		update users set userPw=#{birth} where userEmail=#{userEmail};
	</update>
	
<!-- permission -->
	<update id="permission" >
		UPDATE USERS set permission="Y" where userEmail=#{userEmail};
	</update>	

	



</mapper>


