<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.weasy.admin.service.UserMapper">

<!-- testcode -->
	<insert id="userRegist"  parameterType="UserVO">
		insert all 
		into Users(userEmail,
							userName,
							phoneNum,
							birth,
							gender,
							nickname)
	
		values ( #{userEmail},
					#{userName},
					#{phoneNum},
					#{birth},
					#{gender},
					#{nickname})
	</insert>
	
<!-- management -->
	<select id="getList" resultType="UserVO">
		select * from users
  		<if test="cri.searchName != null and cri.searchName != '' ">
				and userName like concat('%', #{cri.searchName}, '%')
		</if>
		<if test="cri.searchEmail != null and cri.searchEmail != '' ">
				and userEmail like concat('%', #{cri.searchEmail}, '%')
		</if>  	
	</select>

<!-- userList -->
	<select id="memberList" resultType="UserVO">
		select a.userEmail
		,a.userName
	    ,a.phoneNum
	    ,a.birth
	    ,a.gender
	    ,a.nickname
	    ,b.loginDate
		from users as a
		inner join loginlog as b
		on a.userEmail=b.userEmail
		
  		<if test="cri.searchName != null and cri.searchName != '' ">
				and userName like concat('%', #{cri.searchName}, '%')
		</if>
		<if test="cri.searchEmail != null and cri.searchEmail != '' ">
				and userEmail like concat('%', #{cri.searchEmail}, '%')
		</if>  	
	</select>

<!-- Pw Reset -->
	<update id="modify">
	UPDATE USERS set userPw='' where userEmail=#{userEmail};
	</update>	



	<select id="getTotal" resultType="int">
  		select count(*) as total from users
  		
		<if test="cri.searchName != null and cri.searchName != '' ">
		and userName like concat('%', #{cri.searchName}, '%')
		</if>
		<if test="cri.searchEmail != null and cri.searchEmail != '' ">
		and userEmail like concat('%', #{cri.searchEmail}, '%')
		</if>  	  
  	</select>
  	
</mapper>


